
h1 {
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 4rem;
    padding: 50px 20px;
}

.description {
    color: white;
    margin-left: 70px;
    margin-right: 60px;
    font-size: 1.5rem;
}

.home-page {
    overflow-x: hidden;
    
}
.home-componants {
    display: flex;
}

h2{
    color: white;
    margin-left: 60px;

    font-size: 3rem;
    padding: 20px 0px; 
    text-align: center;
}