
h1 {
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 4rem;
    padding: 20px 0px;
}

.description {
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 1.5rem;
}